@model IEnumerable<AltPro.BackTracker.Models.TaskModel>

@{
    ViewBag.Title = "Report list";
}

<form asp-controller="Home" asp-action="ListReport" method="post"></form>

<div>
    @using (Html.BeginForm())
    {
        <p></p>
        <div class="p-3 mb-2 bg-dark text-white rounded text-justify">
            Find by Title: @Html.TextBox("SearchString")
            &nbsp;
            <input type="submit" value="Search" style="width:150px" />
        </div>
    }
    @foreach (var report in Model)
    {
        <p></p>
        <div class="p-3 mb-2 bg-dark text-white rounded">
            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">@report.TaskTitle</h5>
                    <small class="text-muted">Module: @report.ModuleName</small>
                </div>
                <div>
                    <small class="text-muted"><strong>Priority: @report.TaskPriority</strong>,</small>
                    <small class="text-muted"><strong>Status: @report.TaskState</strong></small>
                    <small class="text-muted"><strong>Assigness: @report.AssignedID</strong></small>
                </div>
                <a asp-action="TaskView" asp-controller="Home"
                   asp-route-id="@report.TaskModelId"
                   class="btn btn-primary text-center">View</a>
                <a asp-action="EditTask" asp-controller="Home"
                   asp-route-id="@report.TaskModelId"
                   class="btn btn-primary m-1 text-center">Edit</a>
                <a asp-action="DeleteTask" asp-controller="Home"
                   asp-route-id="@report.TaskModelId"
                   method="post"
                   class="btn btn-danger m-1 text-center">Delete</a>
            </a>
        </div>
    }
</div>
